@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #3B4664;
}
header{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-switch{
    background-color: #181F32;
    display: flex;
    justify-content: space-between;
    margin-bottom: 17px;
}
.header-switch h2{
    color: #fff;
    font-family: 'League Spartan', sans-serif;

}
.toggle-switch{
    display: flex;
}
.toggle-switch p{
    margin-right: 30px;
    color: #fff;
    font-size: 12px;
    font-family: 'League Spartan', sans-serif;
}
.toggle-switch button{
    height: 20px;
}
.header-display{
    width: 430px;
    height: 90px;
    background-color: #181F32;
    border-radius: 0.5em;
    text-align: center;
}
.header-display h2{
    color: #fff;
    font-size: 42px;
    float: right;
    margin-top: 17px;
    margin-right: 30px;
}